/* --- Globals --- */
body {
    background:#acc4cb !important;
    color:#fff;
}
a {
   color:grey;
}
.h2, h2 {
    font-size:22px !important;
}
/* --- Main Navigation --- */
.menu {
    margin: 0 auto;
    text-align: center;
    width: 50%;
}
.subheader {
    color: #fff;
    line-height: 1.4;
    margin-bottom: 0.5rem;
    margin-top: 0.2rem;
    font-size: 1.5rem !important;
}
/* --- Callout Area --- */
.callout.primary {
   background:#79939D !important;
}
.callout h1 {
    font-weight: 700 !important;
}
/* --- Google Login Button --- */
#gConnect {
    margin:0 auto;
    padding:0 auto;
    text-align: center;
    float:none;
    width:120px;
}
/* --- Stopwatch --- */
main {
    margin: 0 auto;
    text-align: center;
}
#stopWatchArea {
    margin:0px 0px 20px 0px;
}
.button { 
    background:#666 !important;
    box-shadow: 0.2px 0.2px  #888;
}
/* --- Task Area --- */
#taskArea {
    margin:0 auto;
    padding:0 auto;
    text-align: center;
    width:500px;
}
#taskInputBar {
    margin-top:30px;
    padding:0px;
}
#tasksContainer {
    text-align: center;
    padding:50px 0px;
    margin:0 auto;
    width:100%;
}
.task-list-item {
    background:#ccc;
    color:#333;
    border:1px solid #aaa;
    font-size:16px;
    cursor:pointer;
}
/* --- Delete Button Area --- */
.delete-area {
    padding:20px 0;
}
/* --- Task Panel Area --- */
.form-control option {
    font-size:16px;
    font-weight:normal;
    padding:10px 0px;
    border-bottom:1px solid grey;
}
/* --- Footer Area --- */
.footer {
    background-color: #f5f5f5;
    bottom: 0;
    height: 60px;
    position: relative;
    width: 100%;
}