/* --- Globals --- */
body {
    background:#acc4cb !important;
    color:#fff;
}
a {
   color:grey;
}
.h2, h2 {
    font-size:22px !important;
}

/* --- Main Navigation --- */
.menu {
    margin: 0 auto;
    text-align: center;
    width: 50%;
}
.subheader {
    color: #fff;
    line-height: 1.4;
    margin-bottom: 0.5rem;
    margin-top: 0.2rem;
    font-size: 1.5rem !important;
}
/* --- Callout Area --- */
.callout.primary {
   background:#79939D !important;
}
.callout h1 {
    font-weight: 700 !important;
}
/* --- Google Login Button --- */
#gConnect {
    margin:0 auto;
    padding:0 auto;
    text-align: center;
    float:none;
    width:120px;
}
/* --- Stopwatch --- */
main {
    margin: 0 auto;
    text-align: center;
}
.button { 
    background:#666 !important;
    box-shadow: 0.2px 0.2px  #888;
}

/* --- Delete Button Area --- */
.delete-area {
    padding:20px 0;
}
/* --- Task Panel Area --- */
.form-control option {
    font-size:16px;
    font-weight:normal;
    padding:10px 0px;
    border-bottom:1px solid grey;
}